blockquote {
    border-color: transparent;
    position: relative;
    padding-left: 15px;

    @include respond-below(sm) {
        margin-left: 0;
    }


    &:before {
        content: '';
        position: absolute;
        left: -5px;
        top: 5px;
        width: 5px;
        height: calc(100% - 10px);
        background-color: $color--green-5;
    }
}
