.site__footer{
    position: relative;
    padding-top: 110px;

    @include respond-above(lg){
        padding-top: 115px;
        padding-bottom: 130px;
    }

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #000000 58.33%, rgba(0, 0, 0, 0) 100%);
        z-index: 2;
        
        @include respond-below(md){
            background: linear-gradient(360deg, #000000 68.23%, rgba(0, 0, 0, 0) 100%);
        }
    }
    .sf{
        &-bottom{
            margin-top: 42px;
            border-top: 1px solid #505050;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 28px;
            padding-bottom: 28px;

            @include respond-above(md){
                display: none;
            }
        }
        &-img{
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        &-inner{
            position: relative;
            z-index: 3;
        }
        &-logo{
            svg{
                width: 140px;
                height: 50px;
            }
        }
        &-detail{
            font-size: 18px;
            a{
                color: #ffffff;
            }
        }
        &-heading{
            font-size: 25px;
            display: block;
            margin-bottom: 10px;
        }
        &-cell{
            width: 100%;
           &:nth-child(1){
            @include respond-above(md){
                width: 30%;
            }
            @include respond-above(lg){
                width: 17%;
            }
           }
           &:nth-child(2){
                @include respond-above(md){
                    width: 35%;
                }
                @include respond-above(lg){
                    width: 25%;
                }
           }
           &:nth-child(3){
                @include respond-above(md){
                    width: 35%;
                }
                @include respond-above(lg){
                    width: 25%;
                }
           }
           &:nth-child(4){
                @include respond-above(md){
                    width: 100%;
                }
                @include respond-above(lg){
                    width: 25%;
                }

                @include respond-below(md){
                    order: -1;
                }
           }
        }

        &-links{
            li{
                list-style: none;
            }
            a{
                font-size: 18px;
                color: #ffffff;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    @at-root .socialfeed {
        padding-top: 15px;

        @include respond-below(sm) {
            justify-content: space-around;
            display: flex;
            flex-wrap: wrap;
        }

        li {
            display: inline-block;
            vertical-align: top;
            padding-right: 25px;

            &:last-child{
                padding-right: 0;
            }

            a {
                transition: ease all 0.4s;
                transform: transformY(0);
                display: block;

                &:before {
                    font-size: pxtorem(26px);
                }

                &:hover {
                    color: $link-color;
                    transform: translateY(-5px);
                }
            }
        }
    }

}