.product-grid{
    display: grid;
    gap: 1rem;

    .product-grid-home &{
        grid-template-columns: repeat(1, 1fr);
        @include respond-above(md){
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    .product-grid-related &{
        grid-template-columns: repeat(1, 1fr);
        @include respond-above(md){
            grid-template-columns: repeat(2, 1fr);
        }
        @include respond-above(xl){
            grid-template-columns: repeat(3, 1fr);
        }
        
    }
    @include respond-above(xl){
        gap: 1.375rem;        
    }
    
    .pg{
        &-card{
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            @include respond-below(md){
                padding-top: 100%;
            }
            .product-grid-related &{
                @include respond-above(md){
                    padding-top: calc((650 / 480) * 100%);
                }
            }
            .product-grid-home &{
                @include respond-above(md){
                    &:first-child{
                        grid-column: 1 / 3;
                    }
                }
            }

            img{
                display: block;
            }
        }
        &-caption{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
            .product-grid-home &{
                padding: 2rem;
                @include respond-above(md){
                    padding: 3rem;
                }
                @include respond-above(xl){
                    padding: 5rem;
                }
            }

            .product-grid-related &{
                padding: 1.375rem;
                @include respond-above(md){
                    padding: 2rem;
                }
                @include respond-above(xl){
                    padding: 3.375rem;
                }                
            }
        }
    }
}

// Inspiration Carousel
.inspiration-cards{
    &-nav{
        display: flex;
        justify-content: flex-end;

        .link-arrow{
            color: #000000;
            margin-top: 0;
            cursor: pointer;
            
            + .link-arrow{
                margin-left: 20px;
            }
        }
    }
    .ic{
        &-card-image{
            position: relative;
            border-radius: 5px;
            overflow: hidden;

            &:before{
                content: '';
                padding-top: calc((650 / 480) * 100%);
                display: block;
                
            }
            
            &.woodplate{
                &:before{
                    padding-top: calc((650 / 506) * 100%);
                }
            }
            > img{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                object-fit: cover;
            }
        }
        &-caption{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 45.83%, #000000 100%);
            padding: 1.25rem;

            @include respond-above(lg){
                padding: 2.5rem;
            }
        }
        &-plus{
            position: absolute;
            top: 40px;
            right: 40px;
            background: rgba(249, 249, 249, 0.4);
            font-size: 40px;
            width: 1em;
            height: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            cursor: pointer;
        }
    }
}

.about-team{  
    .at{
        &-grid{
            @include respond-above(md){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
            }            
        }
        &-cell{
            position: relative;
            border-radius:5px;
            overflow: hidden;

            @include respond-below(md){
                display: none;
            }

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                display: block;
            }

        &.oss{
                grid-row: 1/4;
                grid-column: 2/2;
            }
        }
        &-caption{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding:2.125rem 1.25rem;

            @include respond-above(lg){
                padding: 2.5rem;
            }

            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 60%;
                height: 100%;
                background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 61.98%, #000000 100%);
            }
            &:after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 30%;
                height: 100%;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 71.35%);
            }

            &-eyebrow-text{
                position: absolute;
                top: 0;
                left: 0;
                padding-top: .625rem;
                padding-left: 1.25rem;
                font-size: 18px;
                font-family: $font--roboto-mono;
                @include respond-above(lg){
                    font-size: 20px;
                    padding: 2.5rem;
                }
            }

            &.main-cap{
                height: auto;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 47.92%, #000000 100%);
                padding:2.125rem 1.25rem;
                height: 100%;
                overflow: auto;
                align-items: flex-end;

                @include respond-above(lg){
                    padding: 4.125rem 3.375rem;
                }

                &:after{
                    display: none;
                }
                &:before{
                    display: none;
                }
            }

            .link-arrow{
                &-wrap{
                    display: flex;
                    width: 100%;
                    position: relative;
                    z-index: 10;
                }
                &-text{
                    font-family: $font--roboto;
                    margin-left: 0;
                    @include respond-above(lg){
                        font-size: 2.5rem;
                    }
                }
            }
        }
        &-tab{
            @include respond-above(md){
                display: none;
            }
            display: flex;
            flex-wrap: wrap;
            li{
                list-style: none;
                flex: 1;
                &.isShow{
                    background-color: #000000;
                    color: #ffffff;
                }
            }

            &-btn{
                display: block;
                text-align: center;
                font-weight: 500;
                padding: .4375rem 0;
                margin: .3125rem;
                margin-bottom: 0;
                border-radius: 2px;
                font-size: 14px;
                border: 1px solid #000000;
            }
        }
    }
}

.inspiration-cta{
    &.has-bg-img{
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 60%;
            height: 100%;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 44.79%, #000000 86.46%);
        }
    }
}