.treated-tabs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   .tt{
        &-tabbing{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            @include respond-below(md){
                order: 999;
            }
            li{
                list-style: none;
                color: #000;
                &.isShow{
                    background-color: #000000;
                    color: #ffffff;
                }
                @include respond-below(md){
                    width: 50%;
                }
            }

            &-btn{
                display: block;
                text-align: center;
                font-weight: 500;
                padding: .4375rem 1.5rem;
                margin: .3125rem;
                margin-top: 0;
                border-radius: 2px;
                font-size: 14px;
                border: 1px solid #000000;
                font-family: $font--roboto-mono;
                cursor: pointer;
                @include respond-below(md){
                    padding: .4375rem .5rem;
                    margin-top: .3125rem;
                    margin-bottom: 0;
                }
            }
        }
        &-content{
            width: 100%;
            &-row{
                position: relative;
                border-radius: 5px;
                overflow: hidden;

                &:not(.isShow){
                    display: none;
                }

            &:before{
                content: '';
                display: block;
                padding-top: 42%;

                @include respond-below(md){
                    padding-top: 0;
                    height: 400px;
                }
            }
            }
            &-img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }

            &-caption{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(270deg, rgba(0, 0, 0, 0) 21.35%, rgba(0, 0, 0, 0.58) 48.96%, #000000 100%);
                @include respond-below(md){
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 45.83%);
                }

                &-label{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    @include respond-below(md){
                        display: none;
                    }
                }
            }
        }
   }
}

.cloth-type-carousel{
    @include respond-below(md){
        margin-left: -20px;
        margin-right: -20px;
    }
    .ctc{
        &-card{
            border-radius: 5px;
            box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
            margin: 30px 10px;
        }
        &-head{
            padding: 30px;
            border-bottom: 1px solid #000000;
            @include respond-below(md){
                padding: 20px;
            }
        }
        &-img{
            padding: 30px;
            height: 250px;
            @include respond-below(md){
                padding: 20px;
            }
            img{
                max-height: 100%;
                display: block;
                margin: auto;
            }
        }
        &-detail{
            padding: 30px;
            @include respond-below(md){
                padding: 20px;
            }
        }
        &-list{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            margin-left: -10px;
            margin-right: -10px;
            li{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;
            }
            &-tick{
                display: block;
                width: 20px;
                height: 20px;
                background-color: $color--grey-8;
                border-radius: 5px;
                position: relative;

                svg{
                    position: absolute;
                    right: -3px;
                    top: 3px;
                }
            }
            &-text{
                flex: 1;
                font-size: 12px;
                font-family: $font--roboto-mono;
                margin-left: 10px;
            }
        }
    }

}
.slick-dots{
    display: flex;
    justify-content: center;
    
    li{
        list-style: none;
        margin-left: 4px;
        margin-right: 4px;
        padding: 0;
        display: flex;

        &.slick-active{
            button{
                background-color: #7C7C7C;
            }
        }
    }

    button{
        border-radius: 100%;
        border-width: 0;
        font-size: 0;
        padding: 0;
        margin: 0;
        width: 6px;
        height: 6px;
        background-color: #DBDBDB;
    }
}

.find-your-outfit{
    .fyu{
        &-row{
            @include respond-above(lg){
                display: flex;
                flex-wrap: wrap;
            }
            border-top: 1px solid #000000;
        }
        &-col{
            &-left{
                width: 250px;
            }
            &-right{
                flex: 1;
                @include respond-above(lg){
                    padding-left: 30px;
                }
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(3, 1fr);
                
                @include respond-below(xl){
                    grid-template-columns: repeat(2, 1fr);                    
                }
                @include respond-below(sm){
                    grid-template-columns: repeat(1, 1fr);                    
                }

                .col{
                    border-radius: 5px;
                    overflow: hidden;
                }
            }
        }
        &-checklist{
            li{
                list-style: none;
                position: relative;
                
                input{
                    position: absolute;
                    opacity: 0;

                    &:checked{
                        + .fyu-checklist-tick{
                            svg{
                                opacity: 100%;  
                            }
                        }
                    }
                }
            }
            label{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #000000;
                cursor: pointer;
            }
            &-tick{
                display: block;
                width: 27px;
                height: 27px;
                border: 1px solid #000000;
                position: relative;
                
                svg{
                    opacity: 0;
                    height: 25px;
                    width: 31px;
                    position: absolute;
                    top: 0px;
                    right: -6px;
                }
            }
            &-text{ 
                flex: 1;
                padding-left: 10px;
            }
        }
    }
}

.faqs{
    .faq{
        &-title{
            border-bottom: 1px solid #000000;
            padding-top: 23px;
            padding-bottom: 23px;
            @include respond-below(md){
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            &.isCollapsed{
                .menu__caret{
                    &:after{
                        opacity: 0;
                        transform: rotate(0);
                    }
                }
            }
        }
        &-arrow{
            .menu__caret{
                position: relative;
                border-color: #000000;
                font-size: 42px;
                right: 0;

                @include respond-below(md){
                    font-size: 24px;
                }

                &:before,
                &:after{
                    background-color: #000000;
                }
            }
        }
    }
}


.before-after-view {
  .bav{
    &-container {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        --position: 50%;
    }
    &-images{
        &:before{
            content: '';
            display: block;
            padding-top: calc((504/735) * 100%);
        }
    }
    &-slider {
      position: absolute;
      inset: 0;
      cursor: pointer;
      opacity: 0;
      /* for Firefox */
      width: 100%;
      height: 100%;

      &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
      
      &:focus-visible ~ .slider-button {
        outline: 5px solid black;
        outline-offset: 3px;
      }
      
      &-line {
        position: absolute;
        inset: 0;
        width: .2rem;
        height: 100%;
        background-color: #fff;
        /* z-index: 10; */
        left: var(--position);
        transform: translateX(-50%);
        pointer-events: none;
      }
      
      &-button {
        position: absolute;
        background-color: #fff;
        color: black;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        display: grid;
        place-items: center;
        top: 50%;
        left: var(--position);
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 10;
        box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
      }
    }
    &-image{
        &-before {
            position: absolute;
            inset: 0;
            width: var(--position);
            filter: grayscale(100%);
            pointer-events: none;
            z-index: 9;
        }
        &-after{
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &-label{
        top: 30px;
        left: 30px;
        z-index: 99;
        position: absolute;
        width: 99px;
        padding: 4px;
        background: rgba(249, 249, 249, 0.21);
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        font-family: $font--roboto-mono;
        font-weight: 300;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF
    }
    &-directiopn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.25rem;
        color: #ffffff;
        padding-right: 30px;
        padding-left: 30px;
        z-index: 99;
        pointer-events: none;
    }
  }
}


