.white-theme {
    background-color: $bg-white;
    color: $color--grey-1;

    .site__header.is-stick {
        background-color: $bg-white;
    }

    *,
    .navigation ul li a,
    .site__footer a {
        color: $color--grey-1;
    }

    .site__footer {
        .footer-copy {
            a {
                color: $color--grey-6 !important;

                &:hover {
                    color: $color--grey-3 !important;
                }
            }
        }
    }

    .hamburger:not(.close) {
        .hamburger__line {
            background-color: $color--grey-1;
        }
    }

    .brand {
        &__black {
            display: block;
        }

        &__white {
            display: none;
        }
    }

    .btn {
        border-color: $color--grey-1;
    }

    .white-text {
        color: $color--grey-1 !important;
    }

    @media print {
        .card {
            width: 33.33%;
        }

        .site__footer {

            .cell-md-6,
            .cell-lg-6 {
                width: 50%;
            }

            .footer-copy {
                span {
                    display: inline-block;

                    padding-right: 30px;

                    &.white-text {
                        color: $color--grey-1 !important;
                    }
                }
            }

            .links {
                ul {
                    width: 50%;
                }
            }
        }

        .cart {
            &__img {
                width: 45%;
                padding-right: 10px;
            }

            &__detail {
                width: 35%;
                padding-right: 10px;
            }

            &__remove {
                width: 20%;
            }

            &__action {
                .btn {
                    width: auto;
                }
            }
        }
    }

    .breadcrumb {
        a, li {
            color: $color--grey-1 !important
        }
    }
}


.cart {
    .repeater {
        padding: 10px 0;
        border-top: 1px solid $color--grey-1;

        &:last-child {
            border-bottom: 1px solid $color--grey-1;
        }
    }

    .intro-text {
        padding-bottom: 10px;
    }

    .name-list {
        display: flex;
        flex-wrap: wrap;
        font-size: pxtorem($font-size-base - 2);

        .n-left {
            width: 60%;
        }

        .n-right {
            width: 40%;
        }
    }

    .repeater .btn {
        &:not(.favourites) {
            background-image: url(#{$icons}arrow-right-black.png);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: right 15px center;
            text-align: left;
            padding: 12px 60px 12px 20px;
        }

        margin-top: 30px;
    }

    &__remove a {
        display: block;
        @include square(40px);
        float: right;
    }

    @include respond-below(sm) {
        &__action {
            .btn {
                width: 100%;
            }
        }
    }
}

@media print {
    .site__header, .site__footer, .print-page, .header-spacer { display: none !important; }

    .breadcrumb {
        position: unset !important;
    }

    .customer-center {
        padding-top: 0;

        img {
            max-width: 200px;
        }
    }

    .cart {
        .repeater {
            .cart__detail {
                width: 66.66% !important;
            }

            .cart__remove {
                display: none !important;
            }

            .cart__img {
                width: 33.33% !important;

                .adaptive-img {
                    .product-thumbs {
                        max-height: 150px;
                        min-height: 150px;
                        margin-bottom: -13px;
                        margin-top: -8px;
                    }
                }
            }
            .intro-text {
                line-height: 1.2;

                a {
                    line-height: 1;
                    font-size: 0.9rem;
                }
            }

            .name-list {
                margin-bottom: 2px;

                .n-left {
                    width: 18%;
                }
            }
        }
    }
}