// Heading style
@for $i from 1 through 6 {

    h#{$i},
    .h#{$i} {
        font-family: $font--roboto;
        font-weight: bold;
        margin: 0;
        word-break: break-word;
        a {
            color: inherit;
            text-decoration: none;
            font-size: inherit;
        }
    }
}

h1,
.h1 {
    font-size: pxtorem($h1-text);
    line-height: pxtorem($h1-text + 10);
    font-weight: 900;
    margin-bottom: 15px;

    @include respond-below(md) {
        font-size: pxtorem($h1-text - 3);
    }

    @include respond-below(sm) {
        font-size: pxtorem($h1-text - 7);
        line-height: pxtorem($h1-text + 4);
        margin-bottom: 10px;
    }

    @include respond-below(xsm) {
        font-size: pxtorem($h1-text - 10);
        line-height: pxtorem($h1-text - 4);
    }
}

h2,
.h2 {
    font-size: pxtorem($h2-text);
    line-height: pxtorem($h2-text + 12);
    margin-bottom: 15px;

    @include respond-below(md) {
        font-size: pxtorem($h2-text - 3);
    }

    @include respond-below(sm) {
        font-size: pxtorem($h2-text - 5);
        line-height: pxtorem($h2-text + 5);
        margin-bottom: 10px;
    }

    @include respond-below(xsm) {
        font-size: pxtorem($h2-text - 10);
        line-height: pxtorem($h2-text - 5);
    }
}

h3,
.h3 {
    font-size: pxtorem($h3-text);
    line-height: pxtorem($h3-text + 15);
    font-weight: 500;
    margin-bottom: 10px;

    @include respond-below(md) {
        font-size: pxtorem($h3-text - 2);
        line-height: pxtorem($h3-text + 10);

    }

    @include respond-below(xsm) {
        font-size: pxtorem($h3-text - 5);
        line-height: pxtorem($h3-text);
    }
}

h4,
.h4 {
    font-size: pxtorem($h4-text);
    line-height: pxtorem($h4-text + 15);

    @include respond-below(md) {
        font-size: pxtorem($h4-text - 3);
        line-height: pxtorem($h4-text + 10);

    }

    @include respond-below(xsm) {
        font-size: pxtorem($h4-text - 5);
        line-height: pxtorem($h4-text);
    }
}

h5,
.h5 {
    font-size: pxtorem($h5-text);
    line-height: pxtorem($h5-text + 8);
}

h6,
.h6 {
    font-size: pxtorem($h6-text);
    line-height: pxtorem($h6-text + 8);
}