/* buttons */
.btn {
  display: inline-block;
  padding: 12px 33px;
  vertical-align: top;
  color: $text-color;
  font-size: pxtorem($font-size-base);
  line-height: 1.5;
  text-align: center;
  border-radius: 2px;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid $text-color;
  margin-top: 20px;
  transition: ease all 0.3s;
  font-family: $font--roboto-mono;

  @include respond-below(sm) {
    padding: 12px 10px;
  }

  @include respond-below(xsm) {
    padding: 10px 15px;
    font-size: pxtorem($font-size-base - 2);
  }

  &[class*=icon-]:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font-size: pxtorem(26px);
  }

  &:hover,
  &:focus,
  &.active {
    cursor: pointer;
    color: $color--grey-1;
    text-decoration: none;
    background-color: $color--white;
  }

  &-grey {
    border: 1px solid $color--grey-2;
    color: $color--grey-2;

    &:hover,
    &:focus,
    &.active {
      cursor: pointer;
      color: $text-color;
      text-decoration: none;
      background-color: $color--grey-2;
    }
  }

  &-black {
    border: 1px solid #000000;
    color: #000000;

    &:hover,
    &:focus,
    &.active {
      cursor: pointer;
      color: $text-color;
      text-decoration: none;
      background-color: #000000;
    }
  }


  &-grey-solid {
    border: 1px solid $color--grey-1;
    background-color: $color--grey-1;
    color: $text-color;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $color--grey-1;
      text-decoration: none;
      background-color: $text-color;
    }
  }

  &-green-solid {
    border: 1px solid $color--green-9;
    background-color: $color--green-9;
    color: $text-color;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $color--green-9;
      text-decoration: none;
      background-color: $text-color;
    }
  }

  &-white-solid {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;

    &:hover,
    &:focus {
      cursor: pointer;
      color: #ffffff;
      text-decoration: none;
      background-color: #000000;
    }
  }

  &-link {
    margin-bottom: 2px;
    color: $text-color;
    font-size: pxtorem($font-size-base + 3);
    border-bottom: 1px solid $color--white;
    text-decoration: none;
    transition: ease all 0.3s;
    line-height: 2;

    img {
      vertical-align: middle;
    }

    i {
      width: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    &:hover,
    &:focus {
      border-color: $color--grey-1;
      text-decoration: none;
    }

    &[class*=icon-] {
      text-decoration: none;
      border-bottom: 0;
      display: inline-flex;
      align-items: center;

      &:before {
        margin-right: 5px;
      }
    }

    &-grey {
      color: $color--grey-1;
      border-bottom: 1px solid $color--grey-1;
    }
  }
}


.link-arrow{
  font-size: 42px;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  border: 1px solid currentColor;
  background: rgba(249, 249, 249, 0.21);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: #ffffff;
  text-decoration: none;
  
  &-wrap{
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
  }
  
  &-text{
    font-family: $font--roboto-mono;
    font-size: 1.25rem;
    flex: 1;
    margin-left: .625rem;
  }

  .inline-arrow &,
  .link-arrow-wrap &{
      margin-top: 0;
  }

}