#copyright-notice {
	position: fixed;
	overflow: hidden;
	background-color: rgba(54, 54, 54, 0.4);
	border-radius: 2px;
	color: rgb(255, 255, 255);
	padding: 3px 8px 3px 5px;
	font-size: 11px;
	z-index: 9999;
	top: 414px;
	left: 565px;
}