.site__header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    border-bottom:1px solid $color--white;
    @include respond-below(lg){
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &.is-stick {
        position: fixed;
        margin-top: -100px;
        transform: translateY(100px);
        transition: ease transform 0.5s;
        background-color: $color--grey-1;
    }
   
}

.brand {
    display: flex;
    width: 90px;

    &__black {
        display: none;
    }

    .icon--logo {
        height: 26px;
    }

    // @include respond-above(md) {
    //     width: 120px;
    // }
}

#icon--logo {
    height: 26px;

    .elem {
        fill: white;
    }
}

.white-theme {
    #icon--logo {
        .elem {
            fill: black;
        }
    }
}

.black-theme {

}

.hamburger {
    display: flex;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    &:hover,
    &:focus {
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }

    &__wrap {
        display: block;
    }

    &__line {
        display: block;
        width: 30px;
        margin: 5px auto;
        height: 4px;
        background-color: $bg-white;
    }

    .flyoutmenu-open & {
        // position: absolute;
        // top: 20px;
        // right: 20px;
        // border-radius: 100%;
        // border: 2px solid $bg-white;

        .hamburger__line {
            position: absolute;
            margin: 0;
            // height: 2px;
            left: 5px;
            // width: 16px;
            top: calc(50% - 1px);
            transform: rotate(45deg);

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

}

.navcell{
    @include respond-below(lg){
        display: none;
    }
}

.navigation {
    .menu-part-left{
        border-right: 1px solid $color--white;
        @include respond-above(md) {
            padding-right: 50px;
            margin-right: 50px;
        }
    }
    .mainmenu {
        li{
            list-style: none;
            padding-top: 10px;
            padding-bottom: 10px;            
        }
        > li {
            display: flex;
            padding:0 15px;

            @include respond-below(sm) {
                padding: 0 10px;
            }

            @include respond-below(xsm) {
                padding: 0 6px;
            }

            > a {
                display: inline-flex;
                flex-wrap: wrap;
                align-items: center;
                font-size: pxtorem($font-size-base);
                
                padding: 15px 0;
                @include respond-above(md) {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                
                
                svg{
                    margin-left: 10px;
                }
            }
            
            a{
                text-decoration: none;
                font-weight: 400;
                color: $text-color;
                transition: ease color 0.3s;
                &:hover,
                &.active {
                    color: $link-color;
                }

            }

            &.hasmenu{
                > a{
                    position: relative;
                    &:after{
                        content: '';
                        opacity: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background-color: $color--white;
                    }
                }

                &:hover{
                    a:after{
                        opacity: 100;
                    }
                }
            }

            &:hover{
                .megamenu{
                    opacity: 100;
                    pointer-events: auto;
                    visibility: visible;
                }
            }
        }
    }
}

.header-search{
    .hs{
        &-row{
            display: flex;
            align-items: center;
            border: 1px solid $color--white;
            border-radius: 5px;
            margin-left: 20px;

            button{
                height: 33px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-width: 0 ;
                border-right: 1px solid $color--white;
                box-shadow: none;
                background-color: transparent;
                outline: none;
                padding: 0;
                margin: 0;
            }

            input{
                height: 33px;
                width: 150px;
                text-align: center;
                border-width: 0;
                background-color: transparent;
            }
        }
    }
}

.searchIcon{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0 ;
    box-shadow: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0; 
    margin-right: 10px;
    
    @include respond-above(lg){
        display: none;
    }
}

.flyoutmenu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: ease all $transition-duration;
    border-top: 1px solid $color--white;
    text-align: right;
    width: 0;
    overflow: hidden;

    &.is-open {
        width: auto;
        transform: translateX(0);

        @include respond-below(sm) {
            width: 100%;
        }
    }

    &__menu-state {
        background-color: $color--brown-5;
        width: 490px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        max-width: 100%;
        @include respond-below(md) {
            @include cssScrollbar(#292e1f, #1d1d1b, 10px);
        }
    }

    li {
        list-style: none;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;

        &.add-line {
            border-top: 2px solid #2f322a;
            margin-top: 40px;
            padding-top: 40px;
        }

        a {
            color: $text-color;
            font-size: pxtorem($font-size-base + 9);
            font-weight: 400;
            text-decoration: none;
            position: relative;


            &:hover , &.active {
                color: $color--green-7;
                text-decoration: underline;
            }
        }

        li {
            padding-left: 0;

            a {
                font-size: pxtorem($font-size-base);
                font-weight: 400;
            }
        }
    }

    &__menu {
        &-top {
            
            @include respond-above(md) {
                @include cssScrollbar(#292e1f, #85ad48, 10px);
            }
            a{
                display: inline-block;
                padding-right: 30px;
            }
            > ul{
                border-bottom: 1px solid $color--white;           
                padding: 30px 100px; 

                @include respond-below(md) {
                    padding: 30px 80px; 
                }
    
                @include respond-below(sm) {
                    padding: 10px 30px; 
                }
                ul{
                    display: none;
                    margin-top: 15px;
                }
            }
            li {
                &.has-sub{
                    padding-right: 0;
                }
                &.is-open {
                    > a{
                        color: $color--green-7;
                    }
                }
                &.a-open {
                    ul {
                        display: block;
                    }
                }
            }

            @at-root .menu__caret {
                position: absolute;
                font-size: 20px;
                top: calc(50% - 0.5em);
                right: -20px;
                display: block;
                width: 1em;
                height: 1em;
                border-radius: 100%; 
                border: 1px solid $color--white;
                cursor: pointer;
                background: rgba(249, 249, 249, 0.21);

                &:after,
                &:before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    display: block;
                    margin: auto;
                    width:0.45em;
                    height: 2px;
                    background: $bg-white;
                }

                &:after {
                    transform: rotate(-90deg);
                    transition: all .2s ease;
                    li.is-open &{
                        transform:rotate(45deg);
                    }
                }
                
                &:before {
                    li.is-open &{
                        transform: rotate(-45deg);
                    }
                }
            }

            @at-root .text-grey {
                .menu__caret {
                    &:after, &:before {
                        background: $color--grey-2;
                    }
                }
            }

        }
        &-bottom {
            ul{
                padding: 30px 100px; 

                @include respond-below(md) {
                    padding: 30px 80px; 
                }
    
                @include respond-below(sm) {
                    padding: 10px 30px; 
                }
            }
            li{
                a{
                    font-size: pxtorem($font-size-base);
                    font-weight: 400;
                    display: inline-block;
                    padding-right: 30px;
                }
            }
        }
    }


}

.header-spacer {
    height: 150px;

    @include respond-below(sm) {
        height: 120px;
    }
}

.megamenu{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: $color--brown-5;
    border-top: 1px solid $color--white;
    transition: ease 0.3s;

    &-img{
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }
    &-card{
        width: 100%;
        position: relative;
    }
    &-caption{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 45px;
        z-index: 9;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);

        &-link{
            display: flex;
            align-items: center;
            font-weight: 20;
            font-weight: 400;

            &-circle{
                width: 42px;
                height: 42px;
                margin-right: 16px;
                border-radius: 100%;
                border: 1px solid $color--white;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba($color: $color--white, $alpha: 0.20);
                svg{
                    margin-left: 0 !important;
                }
            }
        }
    }

    @media (max-width:1170px) {
        .h1{
            font-size: 35px;
            line-height: 1.3;
        }

        .h2{
            font-size: 25px;
            line-height: 1.3;
        }
    }

    @media (min-width:1170px) {
        .h1{
            font-size: 50px;
            line-height: 1.3;
        }

        .h2{
            font-size: 35px;
            line-height: 1.3;
        }
    }
}