// -----------------------------------------------------------------------------
// This file contains all application-wide Sass helpers.
// -----------------------------------------------------------------------------

/* align item */
.d-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &-inline {
        display: inline-flex;
    }

    img {
        align-self: center;
    }
}

.flex {
    &-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    &-row-reverse {
        flex-direction: row-reverse;
    }

    &-1{
        flex: 1;
    }
}


.align {
    &-items-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &-content-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }

    &-items-end {
        -ms-flex-align: end;
        align-items: flex-end;
    }
    &-items-start {
        -ms-flex-align: end;
        align-items: flex-start;
    }

    &-content-between{
        align-content: space-between;
    }
}

.justify {
    &-content-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    &-content-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    &-content-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    &-content-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

.flex-auto {
    flex: auto;
}

.m-auto {
    margin: 0 auto !important;
}

.full-width {
    @include full-width();
}

/* row and column */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    &.no-gutters {
        margin-right: 0;
        margin-left: 0;
        >[class*="cell-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

[class*="cell-"] {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
}
.card-cell-5{
    padding-left: 0;
    padding-right: 0;
}

/* column structure */
$grid-columns: 12;

$sidesY: (top, bottom);
$sidesX: (left, right);

@for $i from 1 through $grid-columns {
    .cell-#{$i} {
        width: percentage($i / $grid-columns);
    }
}

@each $space in $spaceamounts {

    @each $side in $sidesY {

        // margin
        .m#{str-slice($side, 0, 1)}-#{$space},
        .m-#{$space},
        .my-#{$space} {
            margin-#{$side}: #{$space}px;
        }

        // padding
        .p#{str-slice($side, 0, 1)}-#{$space},
        .p-#{$space},
        .py-#{$space} {
            padding-#{$side}: #{$space}px;
        }
    }

    @each $side in $sidesX {

        // margin
        .m#{str-slice($side, 0, 1)}-#{$space},
        .m-#{$space},
        .mx-#{$space} {
            margin-#{$side}: #{$space}px;
        }

        // padding
        .p#{str-slice($side, 0, 1)}-#{$space},
        .p-#{$space},
        .px-#{$space} {
            padding-#{$side}: #{$space}px;
        }
    }

}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

@each $bp-key,
$bp in $breakpoints {
    @include respond-above($bp-key) {
        @for $i from 1 through $grid-columns {
            .cell-#{$bp-key}-#{$i} {
                width: percentage($i / $grid-columns);
            }
        }

        @each $space in $spaceamounts {
            @each $side in $sidesY {

                // margin
                .m#{str-slice($side, 0, 1)}-#{$bp-key}-#{$space},
                .m-#{$space},
                .my-#{$bp-key}-#{$space} {
                    margin-#{$side}: #{$space}px;
                }

                // padding
                .p#{str-slice($side, 0, 1)}-#{$bp-key}-#{$space},
                .p-#{$space},
                .py-#{$bp-key}-#{$space} {
                    padding-#{$side}: #{$space}px;
                }
            }

            @each $side in $sidesX {

                // margin
                .m#{str-slice($side, 0, 1)}-#{$bp-key}-#{$space},
                .m-#{$space},
                .mx-#{$bp-key}-#{$space} {
                    margin-#{$side}: #{$space}px;
                }

                // padding
                .p#{str-slice($side, 0, 1)}-#{$bp-key}-#{$space},
                .p-#{$space},
                .px-#{$bp-key}-#{$space} {
                    padding-#{$side}: #{$space}px;
                }
            }
        }

        .d-#{$bp-key}-none {
            display: none;
        }

        .d-#{$bp-key}-block {
            display: block;
        }
    }
}

/* text alignment */
.text {
    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-left {
        text-align: left;
    }

    &-justify {
        text-align: justify;
    }
    &-uppercase{
        text-transform: uppercase;
    }
    &-2xl{
        font-size: 25px;
    }
}

.font{
    &-roboto{
        font-family: $font--roboto !important;
        &-mono{
            font-family: $font--roboto-mono !important;
        }
    }
    &-normal{
        font-weight: 400;
    }
    &-light{
        font-weight: 300 !important;
    }
    &-medium{
        font-weight: 500 !important;
    }
    &-semibold{
        font-weight: 600 !important;
    }
    &-bold{
        font-weight: 700;
    }
}
.bg{
    &-white{
        background-color: $color--white;
    }
    &-product{
        &-1{
            background-color: $color-product-1;
        }
        &-2{
            background-color: $color-product-2;
        }
        &-3{
            background-color: $color-product-3;
        }
        &-4{
            background-color: $color-product-4;
        }
        &-5{
            background-color: $color-product-5;
        }
        &-6{
            background-color: $color-product-6;
        }
        &-7{
            background-color: $color-product-7;
        }
    }
}

@include respond-below(sm) {
    .order-sm-1 {
        order: 1;
    }
}

@include respond-below(md) {
    .order-md-1 {
        order: 1;
    }
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}