@import '~breakpoint-sass/stylesheets/breakpoint';

@import 'base/vars';
@import 'base/fonts';
// @import 'base/no-js';
// @import 'base/helpers';
// @import 'base/icons';
// @import 'base/layout';

.input .redactor-box .redactor-in
{
	// 3rd-party libraries
	@import '~normalize.css/normalize';

	font-family: 'Roboto', sans-serif;
	font-size: var(--font-size);
	line-height: 1.35;

	// @import 'base/elements';
	p
	{
		margin-top: 1em;
	}
}